<h2 class="header-title">Forum Kanamobi</h2>

<div>
    <div class="login">
        <h3 class="header-title">Fazer login</h3>
        <form name="fazer-login">
            Informe seu email:<br>
            <input type="text" name="email" value="">
            <br><br>
            <input type="submit" value="Entrar">
        </form>
    </div>
    <div class="cadastro">
        <h3 class="header-title">Cadastre-se</h3>
        <form name="novo-cadastro">
            Nome:<br>
            <input type="text" name="name" value="">
            <br><br>
            E-mail:<br>
            <input type="text" name="email" value="">
            <br><br>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</div>
